.initially-hidden {
  display: none;
}

.clickable1,
.clickable2 {
  color: blue;
  cursor: pointer;
}

.clickable1:hover, .clickable2:hover{
  text-decoration: underline;
}

.initially-hidden-to-fade {
  display: none
}
